p{
    color: red;
}

body{
    background-color: #87b5f2;s
}

#mainimage{
    float: left;
    max-width: 5%;
}

#top p{
    font-size: 6vmin;
    display: inline-block;
    margin-top: 2%;
    margin-left: 2%;
}
#main{
    min-height: 50px;
    background-color: white;
    border-radius: 25px;
    margin-left: 2.5%;
    margin-top: 6%;
}